# Tripletas

In [12]:
import pandas as pd

In [17]:
# Definiré una clase Tripleta en base a las propiedades y operaciones que tiene una
class Triplet:
    # Se inicializan los atributos aplicando encapsulamiento
    def __init__(self, a, b, c):
        self.__a = a
        self.__b = b
        self.__c = c

    # Getters
    def a(self):
        return self.__a
    def b(self):
        return self.__b
    def c(self):
        return self.__c
    
    # Setters
    def set_a(self, new_value):
        self.__a = new_value
    def set_b(self, new_value):
        self.__b = new_value
    def set_c(self, new_value):
        self.__c = new_value

    # Suma
    def __add__(self, T:"Triplet"):
        return Triplet(self.a() + T.a(),
                       self.b() + T.b(),
                       self.c() + T.c())
    
    # Resta rara
    def __sub__(self, T:"Triplet"):
        return Triplet(self.a() + T.c(),
                       self.b() - T.b(),
                       self.c() + T.a())
    
    # Multiplicación rara
    def __mul__(self, T:"Triplet"):
        ab = self.a()*self.b()
        cf = self.c()*T.c()
        be = self.b()*T.b()
        return Triplet(min(ab, cf), be, max(ab, cf))
    
    # Multiplicación por un real
    def __rmul__(self, r:float):
        if r > 0:
            return Triplet(r*self.a(), 
                           r*self.b(), 
                           r*self.c())
        
        elif r == 0:
            return Triplet(0, 0, 0)
        
        else:
            return Triplet(r*self.c(),
                           r*self.b(),
                           r*self.a())
        
    # Para imprimir una tripleta
    def __repr__(self):
        return f"({self.a()}, {self.b()}, {self.c()})"

In [8]:
T1 = Triplet(2, 4, 5)
T2 = Triplet(0, 5, 10)

In [9]:
addition = T1+T2
print(addition)

(2, 9, 15)

In [10]:
substraction = T1-T2
print(substraction)

(12, -1, 5)

In [11]:
product = T1*T2
print(product)

(8, 20, 50)

In [20]:
df_ponderations = pd.DataFrame()

T = Triplet(5, 8, 10)
lambdas = [-3.8, -2.0, -0.8, 0, 1.7, 2.2, 3.4]

df = pd.DataFrame({"λ": lambdas})

# columna con la tripleta resultante completa
df["λ * T"] = df["λ"].apply(lambda r: r * T)


df

     λ                  λ * T
0 -3.8  (-38.0, -30.4, -19.0)
1 -2.0  (-20.0, -16.0, -10.0)
2 -0.8     (-8.0, -6.4, -4.0)
3  0.0              (0, 0, 0)
4  1.7      (8.5, 13.6, 17.0)
5  2.2     (11.0, 17.6, 22.0)
6  3.4     (17.0, 27.2, 34.0)