# **TRIPLETAS**

Las tripletas que serán el objeto de estudio, se definen como objetos matemáticos tridimensionales (constan de 3 componentes) que poseen varias propiedades _"extrañas"_ que las distinguen de otros objetos matemáticos que en apariencia son similares, como los vectores.

## **1) Operaciones**

Aclaración:

Todas las operaciones, se definirán genéricamente teniendo en cuenta las siguientes tripletas.

$T_1 = (a, b, c)$  
$T_2 = (d, e, f)$

### **1.1) Suma**

La suma entre 2 tripletas, $T_1$ y $T_2$, viene dada por:

$T_1 + T_2 = (a+d,$ &nbsp; $b+e,$ &nbsp;$c+f)$

### **1.2) Resta**

La resta entre 2 tripletas, $T_1$ y $T_2$, viene dada por:

$T_1 - T_2 = (a+f,$ &nbsp; $b-e,$ &nbsp; $c+d)$

### **1.3) Multiplicación**

La multiplicación entre 2 tripletas, $T_1$ y $T_2$, viene dada por:

$T_1 \times T_2 = (\min(ab, cf),$ &nbsp; $be,$ &nbsp; $\max(ab, cf))$

### **1.4) Multiplicación por un real**

Para una tripleta $T = T_1$, y un número $\lambda \in \real$, se tienen 3 casos:

**Caso 1:** $\lambda > 0$

$\lambda T = (\lambda a, \lambda b, \lambda c)$  

**Caso 2:** $\lambda = 0$

$\lambda T = (0, 0, 0)$

**Caso 3:** $\lambda < 0$

$\lambda T = (\lambda c, \lambda b, \lambda a)$

### **1.5) Distancia**

La distancia entre 2 tripletas, $T_1$ y $T_2$, viene dada por:

$d(T_1, T_2) = \min(|a-d|, |b-e|, |c-f|)$

## **2) Orden**

El orden total entre tripletas se definió con el símbolo $<<$, para decir en ese caso que una tripleta es menor a otra.

$T_1 << T_2$ si y solo si se cumple alguna de estas 3 condiciones:

* $b < e$
* $b = e$ &nbsp;y &nbsp;$a < d$
* $b = e$, &nbsp; $a = d$ &nbsp;y &nbsp;$c < f$

In [3]:
import pandas as pd
from triplet import Triplet

In [4]:
T1 = Triplet(2, 4, 5)
T2 = Triplet(0, 5, 10)

In [5]:
addition = T1+T2
print(addition)

(2, 9, 15)

In [6]:
substraction = T1-T2
print(substraction)

(12, -1, 5)

In [7]:
product = T1*T2
print(product)

(8, 20, 50)

In [8]:
df_ponderations = pd.DataFrame()

T = Triplet(5, 8, 10)
lambdas = [-3.8, -2.0, -0.8, 0, 1.7, 2.2, 3.4]

df = pd.DataFrame({"λ": lambdas})

# columna con la tripleta resultante completa
df["λ * T"] = df["λ"].apply(lambda r: r * T)


df

     λ                  λ * T
0 -3.8  (-38.0, -30.4, -19.0)
1 -2.0  (-20.0, -16.0, -10.0)
2 -0.8     (-8.0, -6.4, -4.0)
3  0.0              (0, 0, 0)
4  1.7      (8.5, 13.6, 17.0)
5  2.2     (11.0, 17.6, 22.0)
6  3.4     (17.0, 27.2, 34.0)