# **TRIPLETAS**

Las tripletas que serán el objeto de estudio, se definen como objetos matemáticos tridimensionales (constan de 3 componentes) que poseen varias propiedades _"extrañas"_ que las distinguen de otros objetos matemáticos que en apariencia son similares, como los vectores.

## **1) Operaciones**

Aclaración:

Todas las operaciones, se definirán genéricamente teniendo en cuenta las siguientes tripletas.

$T_1 = (a, b, c)$  
$T_2 = (d, e, f)$

### **1.1) Suma**

La suma entre 2 tripletas, $T_1$ y $T_2$, viene dada por:

$T_1 + T_2 = (a+d,$ &nbsp; $b+e,$ &nbsp;$c+f)$

### **1.2) Resta**

La resta entre 2 tripletas, $T_1$ y $T_2$, viene dada por:

$T_1 - T_2 = (a+f,$ &nbsp; $b-e,$ &nbsp; $c+d)$

### **1.3) Multiplicación**

La multiplicación entre 2 tripletas, $T_1$ y $T_2$, viene dada por:

$T_1 \times T_2 = (\min(ab, cf),$ &nbsp; $be,$ &nbsp; $\max(ab, cf))$

### **1.4) Multiplicación por un real**

Para una tripleta $T = T_1$, y un número $\lambda \in \real$, se tienen 3 casos:

**Caso 1:** $\lambda > 0$

$\lambda T = (\lambda a, \lambda b, \lambda c)$  

**Caso 2:** $\lambda = 0$

$\lambda T = (0, 0, 0)$

**Caso 3:** $\lambda < 0$

$\lambda T = (\lambda c, \lambda b, \lambda a)$

### **1.5) Distancia**

La distancia entre 2 tripletas, $T_1$ y $T_2$, viene dada por:

$d(T_1, T_2) = \min(|a-d|, |b-e|, |c-f|)$

## **2) Orden**

El orden total entre tripletas se definió con el símbolo $<<$, para decir en ese caso que una tripleta es menor a otra.

$T_1 << T_2$ si y solo si se cumple alguna de estas 3 condiciones:

* $b < e$
* $b = e$ &nbsp;y &nbsp;$a < d$
* $b = e$, &nbsp; $a = d$ &nbsp;y &nbsp;$c < f$

## **3) Ejemplos**

In [9]:
# Se cargan las librerías (para apoyo de código en ejemplos)
import pandas as pd
from triplet import Triplet

### **3.1) Ejemplos de operaciones**

Aclaración:

Todos los ejemplos se basarán en las siguientes tripletas:

$T_1 = (-4, -1, 5)$  
$T_2 = (3, 5, 6)$

In [10]:
# Definición de las tripletas
T1 = Triplet(-4, -1, 5)
T2 = Triplet(3, 5, 6)

#### **3.1.1) Suma**

La suma de las tripletas $T_1$ y $T_2$, sería:

$T_1 + T_2 = (-4+3,$ &nbsp;$-1+5,$ &nbsp;$5+6) = (-1,$ &nbsp;$4,$ &nbsp;$11)$

In [12]:
# Comprobación con código
addition = T1+T2
print(addition)

(-1, 4, 11)

#### **3.1.2) Resta**

La resta entre las tripletas $T_1$ y $T_2$, sería:

$T_1 - T_2 = (-4+6,$ &nbsp;$-1-5,$ &nbsp;$5+3) = (2,$ &nbsp;$-6,$ &nbsp;$8)$

In [13]:
# Comprobación con código
substraction = T1-T2
print(substraction)

(2, -6, 8)

#### **3.1.3) Multiplicación**

La multiplicación entre las tripletas $T_1$ y $T_2$, sería:

$T_1 \times T_2 = (\min(4, 30),$ &nbsp;$-5,$ &nbsp;$\max(4, 30)) = (4,$ &nbsp;$-5,$ &nbsp;$30)$

In [14]:
# Comprobación con código
product = T1*T2
print(product)

(4, -5, 30)

#### **3.1.4) Multiplicación por un real**

Se probará multiplicar cada tripleta por los siguientes valores:

* $\lambda_A = -3.5$  
* $\lambda_B = -2$  
* $\lambda_C = -1/3$  
* $\lambda_D = 0$  
* $\lambda_E = 1/2$  
* $\lambda_F = 4$

**Desarrollo manual**

Para la primera tripleta $(T_1)$, tenemos:

* $\lambda_A T_1 = -3.5 \times (-4,$ &nbsp;$-1,$ &nbsp;$5) = (-3.5(5),$ &nbsp;$-3.5(-1),$ &nbsp;$-3.5(-4)) = (-17.5,$ &nbsp;$3.5,$ &nbsp;$14.0)$ 

* $\lambda_B T_1 = -2 \times (-4,$ &nbsp;$-1,$ &nbsp;$5) = (-2(5),$ &nbsp;$-2(-1),$ &nbsp;$-2(-4)) = (-10,$ &nbsp;$2,$ &nbsp;$8)$ 

* $\lambda_C T_1 = -\frac{1}{3} \times (-4,$ &nbsp;$-1,$ &nbsp;$5) = (-\frac{1}{3}(5),$ &nbsp;$-\frac{1}{3}(-1),$ &nbsp;$-\frac{1}{3}(-4)) = (-\frac{5}{3},$ &nbsp;$\frac{1}{3},$ &nbsp;$\frac{4}{3})$ 

* $\lambda_D T_1 = 0 \times (-4,$ &nbsp;$-1,$ &nbsp;$5) = (0,$ &nbsp;$0,$ &nbsp;$0)$  

* $\lambda_E T_1 = \frac{1}{2} \times (-4,$ &nbsp;$-1,$ &nbsp;$5) = (\frac{1}{2}(-4),$ &nbsp;$\frac{1}{2}(-1),$ &nbsp;$\frac{1}{2}(5)) = (-2,$ &nbsp;$-\frac{1}{2},$ &nbsp;$\frac{5}{2})$ 

* $\lambda_F T_1 = 4 \times (-4,$ &nbsp;$-1,$ &nbsp;$5) = (4(-4),$ &nbsp;$4(-1),$ &nbsp;$4(5)) = (-16,$ &nbsp;$-4,$ &nbsp;$20)$ 


Y para la segunda tripleta, $(T_2)$, tenemos:

* $\lambda_A T_2 = -3.5 \times (3,$ &nbsp;$5,$ &nbsp;$6) = (-3.5(6),$ &nbsp;$-3.5(5),$ &nbsp;$-3.5(3)) = (-21.0,$ &nbsp;$-17.5,$ &nbsp;$10.5)$ 

* $\lambda_B T_2 = -2 \times (3,$ &nbsp;$5,$ &nbsp;$6) = (-2(6),$ &nbsp;$-2(5),$ &nbsp;$-2(3)) = (-12,$ &nbsp;$-10,$ &nbsp;$-6)$ 

* $\lambda_C T_2 = -\frac{1}{3} \times (3,$ &nbsp;$5,$ &nbsp;$6) = (-\frac{1}{3}(6),$ &nbsp;$-\frac{1}{3}(5),$ &nbsp;$-\frac{1}{3}(3)) = (-2,$ &nbsp;$-\frac{5}{3},$ &nbsp;$-1)$ 

* $\lambda_D T_2 = 0 \times (3,$ &nbsp;$5,$ &nbsp;$6) = (0,$ &nbsp;$0,$ &nbsp;$0)$  

* $\lambda_E T_2 = \frac{1}{2} \times (3,$ &nbsp;$5,$ &nbsp;$6) = (\frac{1}{2}(3),$ &nbsp;$\frac{1}{2}(5),$ &nbsp;$\frac{1}{2}(6)) = (\frac{3}{2},$ &nbsp;$\frac{5}{2},$ &nbsp;$3)$ 

* $\lambda_F T_2 = 4 \times (3,$ &nbsp;$5,$ &nbsp;$6) = (4(3),$ &nbsp;$4(5),$ &nbsp;$4(6)) = (12,$ &nbsp;$20,$ &nbsp;$24)$

In [8]:
df_ponderations = pd.DataFrame()

T = Triplet(5, 8, 10)
lambdas = [-3.8, -2.0, -0.8, 0, 1.7, 2.2, 3.4]

df = pd.DataFrame({"λ": lambdas})

# columna con la tripleta resultante completa
df["λ * T"] = df["λ"].apply(lambda r: r * T)


df

     λ                  λ * T
0 -3.8  (-38.0, -30.4, -19.0)
1 -2.0  (-20.0, -16.0, -10.0)
2 -0.8     (-8.0, -6.4, -4.0)
3  0.0              (0, 0, 0)
4  1.7      (8.5, 13.6, 17.0)
5  2.2     (11.0, 17.6, 22.0)
6  3.4     (17.0, 27.2, 34.0)