# **TRIPLETAS**

Las tripletas que serán el objeto de estudio, se definen como objetos matemáticos tridimensionales (constan de 3 componentes) que poseen varias propiedades _"extrañas"_ que las distinguen de otros objetos matemáticos que en apariencia son similares, como los vectores.

## **1) Operaciones**

Aclaración:

Todas las operaciones, se definirán genéricamente teniendo en cuenta las siguientes tripletas.

$T_1 = (a, b, c)$  
$T_2 = (d, e, f)$

### **1.1) Suma**

La suma entre 2 tripletas, $T_1$ y $T_2$, viene dada por:

$T_1 + T_2 = (a+d,$ &nbsp; $b+e,$ &nbsp;$c+f)$

### **1.2) Resta**

La resta entre 2 tripletas, $T_1$ y $T_2$, viene dada por:

$T_1 - T_2 = (a+f,$ &nbsp; $b-e,$ &nbsp; $c+d)$

### **1.3) Multiplicación**

La multiplicación entre 2 tripletas, $T_1$ y $T_2$, viene dada por:

$T_1 \times T_2 = (\min(ab, cf),$ &nbsp; $be,$ &nbsp; $\max(ab, cf))$

### **1.4) Multiplicación por un real**

Para una tripleta $T = T_1$, y un número $\lambda \in R$, se tienen 3 casos:

**Caso 1:** $\lambda > 0$

$\lambda T = (\lambda a, \lambda b, \lambda c)$  

**Caso 2:** $\lambda = 0$

$\lambda T = (0, 0, 0)$

**Caso 3:** $\lambda < 0$

$\lambda T = (\lambda c, \lambda b, \lambda a)$

### **1.5) Distancia**

La distancia entre 2 tripletas, $T_1$ y $T_2$, viene dada por:

$d(T_1, T_2) = \min(|a-d|, |b-e|, |c-f|)$

## **2) Orden**

El orden total entre tripletas se definió con el símbolo $<<$, para decir en ese caso que una tripleta es menor a otra.

$T_1 << T_2$ si y solo si se cumple alguna de estas 3 condiciones:

* $b < e$
* $b = e$ &nbsp;y &nbsp;$a < d$
* $b = e$, &nbsp; $a = d$ &nbsp;y &nbsp;$c \leq f$

## **3) Ejemplos**

In [ ]:
# Se cargan las librerías (para apoyo de código en ejemplos)
import pandas as pd
from triplets import Triplet, distance
from ast import literal_eval

### **3.1) Ejemplos de operaciones**

Aclaración:

Todos los ejemplos se basarán en las siguientes tripletas:

$T_1 = (-4, -1, 5)$  
$T_2 = (3, 5, 6)$

In [2]:
# Definición de las tripletas
T1 = Triplet(-4, -1, 5)
T2 = Triplet(3, 5, 6)

#### **3.1.1) Suma**

La suma de las tripletas $T_1$ y $T_2$, sería:

$T_1 + T_2 = (-4+3,$ &nbsp;$-1+5,$ &nbsp;$5+6) = (-1,$ &nbsp;$4,$ &nbsp;$11)$

In [3]:
# Comprobación con código
addition = T1+T2
print(addition)

(-1, 4, 11)

#### **3.1.2) Resta**

La resta entre las tripletas $T_1$ y $T_2$, sería:

$T_1 - T_2 = (-4+6,$ &nbsp;$-1-5,$ &nbsp;$5+3) = (2,$ &nbsp;$-6,$ &nbsp;$8)$

In [4]:
# Comprobación con código
substraction = T1-T2
print(substraction)

(2, -6, 8)

#### **3.1.3) Multiplicación**

La multiplicación entre las tripletas $T_1$ y $T_2$, sería:

$T_1 \times T_2 = (\min(4, 30),$ &nbsp;$-5,$ &nbsp;$\max(4, 30)) = (4,$ &nbsp;$-5,$ &nbsp;$30)$

In [5]:
# Comprobación con código
product = T1*T2
print(product)

(4, -5, 30)

#### **3.1.4) Multiplicación por un real**

Se probará multiplicar cada tripleta por los siguientes valores:

* $\lambda_A = -3.5$  
* $\lambda_B = -2$  
* $\lambda_C = -1/3$  
* $\lambda_D = 0$  
* $\lambda_E = 1/2$  
* $\lambda_F = 4$

**Desarrollo manual**

Para la primera tripleta $(T_1)$, tenemos:

* $\lambda_A T_1 = -3.5 \times (-4,$ &nbsp;$-1,$ &nbsp;$5) = (-3.5(5),$ &nbsp;$-3.5(-1),$ &nbsp;$-3.5(-4)) = (-17.5,$ &nbsp;$3.5,$ &nbsp;$14.0)$ 

* $\lambda_B T_1 = -2 \times (-4,$ &nbsp;$-1,$ &nbsp;$5) = (-2(5),$ &nbsp;$-2(-1),$ &nbsp;$-2(-4)) = (-10,$ &nbsp;$2,$ &nbsp;$8)$ 

* $\lambda_C T_1 = -\frac{1}{3} \times (-4,$ &nbsp;$-1,$ &nbsp;$5) = (-\frac{1}{3}(5),$ &nbsp;$-\frac{1}{3}(-1),$ &nbsp;$-\frac{1}{3}(-4)) = (-\frac{5}{3},$ &nbsp;$\frac{1}{3},$ &nbsp;$\frac{4}{3})$ 

* $\lambda_D T_1 = 0 \times (-4,$ &nbsp;$-1,$ &nbsp;$5) = (0,$ &nbsp;$0,$ &nbsp;$0)$  

* $\lambda_E T_1 = \frac{1}{2} \times (-4,$ &nbsp;$-1,$ &nbsp;$5) = (\frac{1}{2}(-4),$ &nbsp;$\frac{1}{2}(-1),$ &nbsp;$\frac{1}{2}(5)) = (-2,$ &nbsp;$-\frac{1}{2},$ &nbsp;$\frac{5}{2})$ 

* $\lambda_F T_1 = 4 \times (-4,$ &nbsp;$-1,$ &nbsp;$5) = (4(-4),$ &nbsp;$4(-1),$ &nbsp;$4(5)) = (-16,$ &nbsp;$-4,$ &nbsp;$20)$ 


Y para la segunda tripleta, $(T_2)$, tenemos:

* $\lambda_A T_2 = -3.5 \times (3,$ &nbsp;$5,$ &nbsp;$6) = (-3.5(6),$ &nbsp;$-3.5(5),$ &nbsp;$-3.5(3)) = (-21.0,$ &nbsp;$-17.5,$ &nbsp;$10.5)$ 

* $\lambda_B T_2 = -2 \times (3,$ &nbsp;$5,$ &nbsp;$6) = (-2(6),$ &nbsp;$-2(5),$ &nbsp;$-2(3)) = (-12,$ &nbsp;$-10,$ &nbsp;$-6)$ 

* $\lambda_C T_2 = -\frac{1}{3} \times (3,$ &nbsp;$5,$ &nbsp;$6) = (-\frac{1}{3}(6),$ &nbsp;$-\frac{1}{3}(5),$ &nbsp;$-\frac{1}{3}(3)) = (-2,$ &nbsp;$-\frac{5}{3},$ &nbsp;$-1)$ 

* $\lambda_D T_2 = 0 \times (3,$ &nbsp;$5,$ &nbsp;$6) = (0,$ &nbsp;$0,$ &nbsp;$0)$  

* $\lambda_E T_2 = \frac{1}{2} \times (3,$ &nbsp;$5,$ &nbsp;$6) = (\frac{1}{2}(3),$ &nbsp;$\frac{1}{2}(5),$ &nbsp;$\frac{1}{2}(6)) = (\frac{3}{2},$ &nbsp;$\frac{5}{2},$ &nbsp;$3)$ 

* $\lambda_F T_2 = 4 \times (3,$ &nbsp;$5,$ &nbsp;$6) = (4(3),$ &nbsp;$4(5),$ &nbsp;$4(6)) = (12,$ &nbsp;$20,$ &nbsp;$24)$

**Comprobación con código**

In [6]:
real_values = [-3.5, -2, -1/3, 0, 1/2, 4]
T1_ponderations = []
T2_ponderations = []

for x in real_values:
    T1_ponderations.append(x*T1)
    T2_ponderations.append(x*T2)

for triplet in T1_ponderations:
    a, b, c = triplet.a(), triplet.b(), triplet.c()
    triplet.set_a(round(a, 2))
    triplet.set_b(round(b, 2))
    triplet.set_c(round(c, 2))

for triplet in T2_ponderations:
    a, b, c = triplet.a(), triplet.b(), triplet.c()
    triplet.set_a(round(a, 2))
    triplet.set_b(round(b, 2))
    triplet.set_c(round(c, 2))

df_ponderations = pd.DataFrame()

df_ponderations["λ"] = real_values
df_ponderations["λ*T1"] = T1_ponderations
df_ponderations["λ*T2"] = T2_ponderations

df_ponderations

          λ                 λ*T1                   λ*T2
0 -3.500000   (-17.5, 3.5, 14.0)  (-21.0, -17.5, -10.5)
1 -2.000000          (-10, 2, 8)         (-12, -10, -6)
2 -0.333333  (-1.67, 0.33, 1.33)    (-2.0, -1.67, -1.0)
3  0.000000            (0, 0, 0)              (0, 0, 0)
4  0.500000    (-2.0, -0.5, 2.5)        (1.5, 2.5, 3.0)
5  4.000000        (-16, -4, 20)           (12, 20, 24)

#### **3.1.5) Distancia**

Para las tripletas definidas, o sea:

$T_1 = (-4,$ &nbsp;$-1,$ &nbsp;$5)$  
$T_2 = (3,$ &nbsp;$5,$ &nbsp;$6)$

Tenemos:

$d(T_1, T_2) = \min(|-4-3|, |-1-5|, |5-6|) = \min(7, 6, 1) = 1$

Por lo tanto la distancia entre $T_1$ y $T_2$ es 1.

**Comprobación con código**

In [7]:
print(f"La distancia entre las tripletas T1 y T2 es {distance(T1, T2)}")

La distancia entre las tripletas T1 y T2 es 1

### **3.2) Ejemplos de orden**

#### **3.2.1) Ejemplo 1**

Con las tripletas definidas previamente:

$T_1 = (-4, -1, 5)$  
$T_2 = (3, 5, 6)$

In [8]:
print("T1 << T2" if T1 <= T2 else "T1 >> T2")

T1 << T2

#### **3.2.2) Ejemplo 2**

Con una lista de tripletas:

In [9]:
triplets = [
    Triplet(3, 2, 6),
    Triplet(-4, 0, 4),
    Triplet(-1, 4, 15),
    Triplet(-5, 0, 17),
    Triplet(2.3, 4.7, 9.2)
]

In [10]:
sorted(triplets)

[(-5, 0, 17), (-4, 0, 4), (3, 2, 6), (-1, 4, 15), (2.3, 4.7, 9.2)]

#### **3.2.3) Ejemplo 3**

Con las tripletas del archivo csv adjunto.

In [11]:
import pandas as pd
import ast

In [12]:
data = pd.read_csv("made_up_blood_presure_data(1).csv")
data

     Persona Presión sistólica Presión diastólica
0        Ana     (138,139,141)         (75,84,90)
1      Pedro     (125,128,140)        (85,92,100)
2      Kevin     (110,117,130)         (78,80,91)
3    Julieta     (100,126,150)         (75,85,89)
4     Héctor     (114,149,150)        (80,97,101)
5     Tamara     (111,142,143)         (76,88,91)
6   Norberto     (101,174,180)      (101,105,110)
7     Olivia      (99,107,120)         (45,59,60)
8    Gerardo     (126,127,130)         (65,70,75)
9     Camila     (124,127,130)         (75,82,87)
10    Felipe     (145,155,162)         (85,90,94)
11  Angélica     (130,140,155)         (75,80,85)
12   Gustavo     (110,120,129)         (63,64,75)
13  Eleodoro     (130,140,145)        (80,98,121)
14  Verónica     (110,125,130)         (65,77,80)

In [ ]:
def string_to_triplet(string: str) -> Triplet:
    a, b, c = literal_eval(string)
    return Triplet(a, b, c)

In [14]:
data["Presión sistólica"] = data["Presión sistólica"].apply(string_to_triplet)
data["Presión diastólica"] = data["Presión diastólica"].apply(string_to_triplet)
data

     Persona Presión sistólica Presión diastólica
0        Ana   (138, 139, 141)       (75, 84, 90)
1      Pedro   (125, 128, 140)      (85, 92, 100)
2      Kevin   (110, 117, 130)       (78, 80, 91)
3    Julieta   (100, 126, 150)       (75, 85, 89)
4     Héctor   (114, 149, 150)      (80, 97, 101)
5     Tamara   (111, 142, 143)       (76, 88, 91)
6   Norberto   (101, 174, 180)    (101, 105, 110)
7     Olivia    (99, 107, 120)       (45, 59, 60)
8    Gerardo   (126, 127, 130)       (65, 70, 75)
9     Camila   (124, 127, 130)       (75, 82, 87)
10    Felipe   (145, 155, 162)       (85, 90, 94)
11  Angélica   (130, 140, 155)       (75, 80, 85)
12   Gustavo   (110, 120, 129)       (63, 64, 75)
13  Eleodoro   (130, 140, 145)      (80, 98, 121)
14  Verónica   (110, 125, 130)       (65, 77, 80)

In [16]:
sorted(data["Presión sistólica"])

[(99, 107, 120),
 (110, 117, 130),
 (110, 120, 129),
 (110, 125, 130),
 (100, 126, 150),
 (124, 127, 130),
 (126, 127, 130),
 (125, 128, 140),
 (138, 139, 141),
 (130, 140, 145),
 (130, 140, 155),
 (111, 142, 143),
 (114, 149, 150),
 (145, 155, 162),
 (101, 174, 180)]

In [17]:
sorted(data["Presión diastólica"])

[(45, 59, 60),
 (63, 64, 75),
 (65, 70, 75),
 (65, 77, 80),
 (75, 80, 85),
 (78, 80, 91),
 (75, 82, 87),
 (75, 84, 90),
 (75, 85, 89),
 (76, 88, 91),
 (85, 90, 94),
 (85, 92, 100),
 (80, 97, 101),
 (80, 98, 121),
 (101, 105, 110)]

### **4) Propiedades de las operaciones**

#### **4.1) Suma**

**1. Conmutatividad**

$T_1 + T_2 = T_2 + T_1$

Demostración:

Sean las tripletas 

$T_1 = (a_1, b_1, c_1)$  
$T_2 = (a_2, b_2, c_2)$

Entonces:

$T_1 + T_2 = (a_1+a_2,$ &nbsp;$b_1+b_2,$ &nbsp;$c_1+c_2) = (a_2+a_1,$ &nbsp;$b_2+b_1,$ &nbsp;$c_2+c_1) = T_2 + T_1$

**2. Asociatividad**

$(T_1 + T_2) + T_3 = T_1 + (T_2 + T_3)$

Demostración:

Sean las tripletas 

$T_1 = (a_1,$ &nbsp;$b_1,$ &nbsp;$c_1)$  
$T_2 = (a_2,$ &nbsp;$b_2,$ &nbsp;$c_2)$  
$T_3 = (a_3,$ &nbsp;$b_3,$ &nbsp;$c_3)$

Entonces:

$(T_1 + T_2) + T_3 = (a_1+a_2,$ &nbsp;$b_1+b_2,$ &nbsp;$c_1+c_2) + (a_3,$ &nbsp;$b_3,$ &nbsp;$c_3) = ((a_1+a_2)+a_3,$ &nbsp;$(b_1+b_2)+b_3,$ &nbsp;$(c_1+c_2)+c_3)$

Luego, por el axioma de asociatividad de la suma de números reales, queda:

$((a_1+a_2)+a_3,$ &nbsp;$(b_1+b_2)+b_3,$ &nbsp;$(c_1+c_2)+c_3) = (a_1+(a_2+a_3),$ &nbsp;$b_1+(b_2+b_3),$ &nbsp;$c_1+(c_2+c_3)) = T_1 + (T_2 + T_3)$

Por lo tanto, así se cumple que:

$(T_1 + T_2) + T_3 = T_1 + (T_2 + T_3)$

**3. Existencia y unicidad del elemento neutro**

$T + E = T$ &nbsp;$ \iff E = (0, 0, 0)$

*<u>Demostración</u>*:

<u>Parte I</u>: Existencia

Sean las tripletas:

$T = (T_1,$ &nbsp;$T_2, $ &nbsp;$T_3)$  
$E = (E_1,$ &nbsp;$E_2, $ &nbsp;$E_3)$

Entonces: 

$T + E = (T_1,$ &nbsp;$T_2, $ &nbsp;$T_3) + (E_1,$ &nbsp;$E_2, $ &nbsp;$E_3) = (T_1 + E_1,$ &nbsp;$T_2 + E_2, $ &nbsp;$T_3 + E_3)$

Ahora, para que el resultado se mantenga y sea $T$, deben cumplirse las siguientes ecuaciones:

$T_1 + E_1 = T_1 \rightarrow E_1 = 0$  
$T_2 + E_2 = T_2 \rightarrow E_2 = 0$  
$T_3 + E_3 = T_3 \rightarrow E_3 = 0$

Luego, el elemento neutro $E$ existe y viene dado por $E = (0, 0, 0)$

<u>Parte II</u>: Unicidad

Ahora se demostrará que el elemento neutro es único.

Suponiendo que existe otro elemento neutro, llamado $E^*$

Entonces, se cumple que:

$(1)$&nbsp;$T + E = T$  
$(2)$&nbsp;$T + E^* = T$  

Tomando $T = E$, de $(2)$, se tiene que:
  
$E + E^* = E$

Pero por la propiedad conmutativa, y también debido a que $E$ es neutro, también tenemos que:

$E + E^* = E^* + E = E^*$

Por lo tanto, puesto que $E + E^* = E$, y también "E + E^* = E*$, necesariamente se debe cumplir que:

$E = E^*$

Con lo que queda demostrado que el elemento neutro en las tripletas, existe y es único.

**4. Existencia y unicidad del inverso aditivo**

$T + T^- = E = (0, 0, 0) \iff T^- = -T$

*<u>Demostración</u>:*

<u>Parte I</u>: Existencia

Sean las tripletas

$T = (T_1, T_2, T_3)$  
$T^- = (T^-_1, T^-_2, T^-_3)$

Entonces:

$T + T^- = (T_1+T^-_1,$ &nbsp;$T_2+T^-_2,$ &nbsp;$T_3+T^-_3)$

Ahora, para que el resultado sea $E$, deben cumplirse las siguientes ecuaciones:

$T_1 + T^-_1 = 0 \rightarrow T^-_1 = -T_1$  
$T_2 + T^-_2 = 0 \rightarrow T^-_2 = -T_2$  
$T_3 + T^-_3 = 0 \rightarrow T^-_3 = -T_3$

Luego, el inverso aditivo $T^-$ existe, y viene dado por $T^- = (-T_1, -T_2, -T_3) = -T$

<u>Parte II</u>: Unicidad

Suponiendo que existe otro inverso adivivo, llamado $T^-_*$, se debe cumplir entonces que:

$(1)$ &nbsp;$T + T^- = E$  
$(2)$ &nbsp;$T + T^-_* = E$

Luego, por la propiedad del elemento neutro, tenemos que:

$T^- = T^- + E$

Pero $E = T + T^-_*$, así que:

$T^- = T^- + (T + T^-_*) = (T^- + T) + T^-_*$ &nbsp;&nbsp; (por asociatividad)

Por conmutatividad, $T^- + T = T + T^-$, por lo que:

$T^- = (T + T^-) + T^-_* = E + T^-_* = T^-_* + E = T^-_*$ &nbsp;&nbsp; 

Por consiguiente, $T^- = T^-_*$, con lo que queda demostrado que el inverso aditivo en las tripletas existe y es único.